* {
   margin: 0px;
   list-style: none;
}

header, section, footer, nav {
   display: block;
}

#headerAtTop, #matcher, #bingo {
	text-align: center;
  }
  

body
{
	background-color: #4b7aa8;
	background-image: linear-gradient(to bottom right, #4b7aa8, #153859);
	font-family: Raleway, sans-serif;
	margin: 0px auto;/*top and bottom margins 0, left and right auto centeres*/
	width: 1000px;
	color: rgb(255,255,255);
	height: 1000px;
}
table, th, td {
    border: 1px solid black;
}

table {
  margin-left: 100px;
}

td {
  width: 150px;
  height: 150px;
  position: relative;
  text-align:center;
}
.tile {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}

.tile.incorrect {
	background-color: red;
	animation-name: pulse;
	animation-duration: 0.75s;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}

.tile.bingo {
	background-color: white;
	animation-name: flipInY;
	animation-duration: 1.5s;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}

.tile.correct {
	background-color: #4b7aa8;
	animation-name: correct;
	animation-duration: 0.75s;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}

td:after {
  content: '';
  display: block;

}
td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  text-align:center
}



body header h1 img.center
{
  display: block;
   margin-left: auto;
   margin-right: auto;
}
header h1
{
  text-align: center;
}

nav ul
{
	background-color: rgb(0,0,0);
	margin: 0px;
	padding: 0px;
	text-align: center;
}

nav ul li
{
	display:inline;
	font-size: 1em;
	font-family: Courier New, monospace;
	margin:0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right:10px;
}

nav ul li a
{
	text-decoration: none;
	color: rgb(255,0,0);
}

nav ul li a:hover
{
	color: rgb(255,255,255);
}

body section
{
	 margin-left: auto;
    margin-right: auto;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);

}

body section article p
{
	line-height: 2.4em;
	padding:10px;
	text-indent: 50px;
}

article img p
{
	margin: 4px 10px 0px 0px;
	border: 1px solid #000000;
	float: left;

}

body section article h2
{
	font-size: 3em;
	color: rgb(255,0,0);
	text-align: center;
}

hr
{
	border-color: rgb(255,0,0);
}
h3
{
	font-size: 2em;
	color:rgb(255,0,0);

}

 article ul
{
	list-style-type:square;
	color: rgb(255,255,255);
	line-height: 2.4em;


}

 article ul li
{
	color: rgb(255,255,255);
	list-style-type:square;
	line-height: 2.4em;
}
footer p a
{

	color: rgb(0,0,0);
}

footer a:hover
{
	color: rgb(255,255,255);
}

footer
{
	clear: rgb(0,0,0);
	padding-top:10px;
	background-color: rgb(255,0,0);
}
footer p
{
	text-align: center;
}

footer nav ul
{
	background-color: rgb(0,0,0);
	margin: 0px;
	padding: 0px;
	text-align: center;
}

footer nav ul li
{
	display:inline;
	font-size: 1em;
	font-family: Courier New, monospace;
	margin:0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right:10px;
}

footer nav ul li a
{
	text-decoration: none;
	color: rgb(255,0,0);
}

footer nav ul li a:hover
{
	color: rgb(255,255,255);
}

.fadeIn {
  position: absolute;
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  color: white;
}

.fadeOut{
  position: absolute;
  opacity: 1;
  animation-name: fadeOut;
  animation-duration: 0.5s;
  color: white;
}

/* Create two equal columns that floats next to each other */
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  background-image: linear-gradient(to bottom right, #4b7aa8, #153859);
}

@keyframes pulse {
	from {
		transform: translate(-50%, -50%);
	}

	50% {
		transform: translate(-50%, -50%) scale(1.2,1.2);
	}

	to {
		transform: translate(-50%, -50%);
	}
}

@keyframes flipInY {
	from {
		transform: translate(-50%, -50%) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: translate(-50%, -50%) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: translate(-50%, -50%) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: translate(-50%, -50%) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: translate(-50%, -50%);
	}
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes correct {
  from {
	color: white;
	}
  to {
	color: black;
	}
}